---
- name: Install Prometheus nginx Exporter
  ansible.builtin.apt:
    name: prometheus-nginx-exporter
    state: present
  become: true

- name: create directory /etc/systemd/system/nginx-prometheus-exporter.service.d/
  ansible.builtin.file:
    path: /etc/systemd/system/nginx-prometheus-exporter.service.d
    state: directory
    mode: 0755
    owner: root
    group: root
  become: true

- name: copy systemd override.conf config
  ansible.builtin.copy:
    src: files/override.conf
    dest: /etc/systemd/system/nginx-prometheus-exporter.service.d/override.conf
    owner: root
    group: root
    mode: "u=rw,g=r,o=r"
    backup: yes
  register: nginx_prom_exp_conf_systemd_override_conf_update
  when: ansible_facts["service_mgr"] == "systemd"
  become: true

- name: Enable and start prometheus-nginx-exporter.service
  ansible.builtin.systemd:
    name: prometheus-nginx-exporter.service
    enabled: yes
    state: started
  become: true
