---
- name: Install nginx Prometheus exporter
  community.general.pkgng:
    name: nginx-prometheus-exporter
    state: present
  become: true

- name: Enable nginx Prometheus exporter
  ansible.builtin.command: sysrc nginx_prometheus_exporter_enable=YES
  become: true

- name: Start nginx Prometheus exporter
  ansible.builtin.service:
    name: nginx-prometheus-exporter
    state: started
  become: true
