---
- name: create directory for docker config override
  ansible.builtin.file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: 0755
  become: true

- name: create file for docker config override
  ansible.builtin.template:
    src: startup_options.conf.j2
    dest: /etc/systemd/system/docker.service.d/startup_options.conf
    owner: root
    group: root
    mode: 0644
  become: true

- name: add docker's apt signing key
  ansible.builtin.apt_key:
    id: "0EBFCD88"
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: true

- name: add docker's apt repo
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
  register: dockerrepo
  become: true

- name: update repositories cache
  ansible.builtin.apt:
    update_cache: yes
  when: dockerrepo.changed
  become: true

- name: install docker-ce
  ansible.builtin.apt:
    name: docker-ce
    state: present
  become: true

- name: add user "{{ ansible_user_id }}" to docker group
  ansible.builtin.user:
    append: yes
    groups: docker
    name: "{{ ansible_user_id }}"
  become: true
