---
- name: install python3-pip
  ansible.builtin.apt:
    name: python3-pip
    state: present
  become: true

- name: install docker-compose
  ansible.builtin.pip:
    name: docker-compose
    executable: "/usr/bin/pip3"
    state: present
  become: true
