---
- name: create docker's group
  ansible.builtin.group:
    name: docker
    state: present
    system: yes
  become: true

- name: add user to docker group
  ansible.builtin.user:
    append: yes
    groups: docker
    name: "{{ ansible_user_id }}"
  become: true

# https://superuser.com/a/1432977
- name: enable listen on tcp
  ansible.builtin.lineinfile:
    path: /etc/systemd/system/snap.docker.dockerd.service
    state: present
    line: "ExecStart=/usr/bin/snap run docker.dockerd -H unix:///var/run/docker.sock -H tcp://0.0.0.0:2375"
    regexp: "^ExecStart=/usr/bin/snap run docker.dockerd$"
  when:
    - listen_tcp == true
  become: true
  notify: restart docker snap

- name: disable listen on tcp
  ansible.builtin.lineinfile:
    path: /etc/systemd/system/snap.docker.dockerd.service
    state: present
    line: "ExecStart=/usr/bin/snap run docker.dockerd"
    regexp: "^ExecStart=/usr/bin/snap run docker.dockerd -H unix:///var/run/docker.sock -H tcp://0.0.0.0:2375$"
  when:
    - listen_tcp == false
  become: true
  notify: restart docker snap

- name: install docker from snap store
  community.general.snap:
    name:
      - docker
    state: present
  become: true
