---
- name: remove docker snap
  community.general.snap:
    name:
      - docker
    state: absent
  become: true

- name: remove directory for docker config override
  ansible.builtin.file:
    path: /etc/systemd/system/snap.docker.dockerd.d
    state: absent
  become: true
# Cannot remove user from a single group using Ansible
# Bug is still open (as of 20019-01-10)
# https://github.com/ansible/ansible/issues/11024
# Therefore, undo _does not_ change the user's groups or remove the docker group
# You _must_ do it manually as needed
