---
- name: restart sshd ubuntu
  ansible.builtin.systemd:
    name: sshd
    state: restarted
  become: true

- name: restart sshd freebsd
  ansible.builtin.service:
    name: sshd
    state: restarted
  become: true
