---
- include_tasks: debian.yml
  when:
  - ansible_facts["os_family"] == "Debian"

- include_tasks: include_config.yml
  when:
  - (ansible_facts["os_family"] == "Suse" and ansible_facts["distribution_major_version"] == "15") or (ansible_facts["os_family"] == "RedHat" and (ansible_facts["distribution_major_version"] == "8" or ansible_facts["distribution_major_version"] == "9" or ansible_facts["distribution_major_version"] == "10"))

- include_tasks: centralized_keys.yml
  when:
  - centralize_authorized_keys == true
  - (ansible_facts["distribution"] == "Fedora" and ansible_facts["distribution_major_version"] == "36") or (ansible_facts["os_family"] == "Suse" and ansible_facts["distribution_major_version"] == "15") or (ansible_facts["os_family"] == "RedHat" and (ansible_facts["distribution_major_version"] == "8" or ansible_facts["distribution_major_version"] == "9" or ansible_facts["distribution_major_version"] == "10")) or (ansible_facts["os_family"] == "Debian" and ansible_facts["distribution_major_version"] == "12")

- include_tasks: centralized_keys_legacy.yml
  when:
  - centralize_authorized_keys == true
  - not ((ansible_facts["distribution"] == "Fedora" and ansible_facts["distribution_major_version"] == "36") or (ansible_facts["os_family"] == "Suse" and ansible_facts["distribution_major_version"] == "15") or (ansible_facts["os_family"] == "RedHat" and (ansible_facts["distribution_major_version"] == "8" or ansible_facts["distribution_major_version"] == "9" or ansible_facts["distribution_major_version"] == "10")))

- include_tasks: harden.yml
  when:
  - harden == true
  - (ansible_facts["distribution"] == "Fedora" and ansible_facts["distribution_major_version"] == "36") or (ansible_facts["os_family"] == "Suse" and ansible_facts["distribution_major_version"] == "15") or (ansible_facts["os_family"] == "RedHat" and (ansible_facts["distribution_major_version"] == "8" or ansible_facts["distribution_major_version"] == "9" or ansible_facts["distribution_major_version"] == "10"))  or (ansible_facts["os_family"] == "Debian" and ansible_facts["distribution_major_version"] == "12")

- include_tasks: harden_legacy.yml
  when:
  - harden == true
  - not ((ansible_facts["distribution"] == "Fedora" and ansible_facts["distribution_major_version"] == "36") or (ansible_facts["os_family"] == "Suse" and ansible_facts["distribution_major_version"] == "15") or (ansible_facts["os_family"] == "RedHat" and (ansible_facts["distribution_major_version"] == "8" or ansible_facts["distribution_major_version"] == "9" or ansible_facts["distribution_major_version"] == "10")))

- name: verify sshd config is valid
  command: sshd -t
  become: true

- name: enable ssh service systemd
  systemd:
    name: sshd
    enabled: yes
  when:
  - ansible_facts["service_mgr"] == "systemd"
  - ansible_facts["os_family"] != "Debian"
  become: true

- name: enable ssh service systemd (debian)
  systemd:
    name: ssh
    enabled: yes
  when:
  - ansible_facts["service_mgr"] == "systemd"
  - ansible_facts["os_family"] == "Debian"
  become: true
