---
- name: copy pf rules
  template:
    src: erl-gateway.pf.conf.j2
    dest: /etc/pf.conf
  register: pfrules
  become: true

- name: reload pf config
  shell: pfctl -f /etc/pf.conf
  when: pfrules.changed
  become: true
