---
- include_tasks: debian.yml
  when:
    - ansible_facts["distribution_major_version"] == "11"
    - ansible_facts["distribution"] == "Debian"

- include_tasks: rhel.yml
  when:
    - ansible_facts["os_family"] == "RedHat" and ansible_facts["distribution_major_version"] == "9"

- include_tasks: suse.yml
  when:
    - ansible_facts["distribution_major_version"] == "15"
    - ansible_facts["os_family"] == "Suse"
