---
- name: create group jenkins
  ansible.builtin.group:
    name: "{{ username }}"
    state: present
  become: true

- name: create user jenkins
  ansible.builtin.user:
    name: "{{ username }}"
    group: "{{ username }}"
    password: "{{ password }}"
    shell: /bin/bash
    append: yes
    update_password: "on_create"
    state: present
  become: true

# Permissions need to be liberal so Jenkins in the container can work with this directory
- name: create jenkins home directory
  ansible.builtin.file:
    path: /var/jenkins_home
    state: directory
    mode: 0777
  become: true

# Permissions need to be liberal so Jenkins in the container can work with this directory
- name: create init.groovy.d directory in jenkins home
  ansible.builtin.file:
    path: /var/jenkins_home/init.groovy.d
    state: directory
    mode: 0775
  become: true

# Permissions need to be liberal so Jenkins in the container can work with this directory
- name: create plugins directory in jenkins home
  ansible.builtin.file:
    path: /var/jenkins_home/plugins
    state: directory
    mode: 0777
  become: true

# Permissions need to be liberal so Jenkins in the container can work with this directory
- name: copy admin_user.groovy to init.groovy.d directory
  ansible.builtin.copy:
    dest: /var/jenkins_home/init.groovy.d/admin_user.groovy
    src: "{{ role_path }}/files/admin_user.groovy"
    owner: root
    group: root
    mode: 0644
  become: true

# Permissions need to be liberal so Jenkins in the container can work with this directory
- name: copy csrf.groovy to init.groovy.d directory
  ansible.builtin.copy:
    dest: /var/jenkins_home/init.groovy.d/csrf.groovy
    src: "{{ role_path }}/files/csrf.groovy"
    owner: root
    group: root
    mode: 0644
  become: true

# Permissions need to be liberal so Jenkins in the container can work with this directory
- name: copy harden.groovy to init.groovy.d directory
  ansible.builtin.copy:
    dest: /var/jenkins_home/init.groovy.d/harden.groovy
    src: "{{ role_path }}/files/harden.groovy"
    owner: root
    group: root
    mode: 0644
  become: true

- name: create jenkins.model.JenkinsLocationConfiguration.xml in jenkins home
  ansible.builtin.template:
    src: jenkins.model.JenkinsLocationConfiguration.xml.j2
    dest: /var/jenkins_home/jenkins.model.JenkinsLocationConfiguration.xml
    owner: root
    group: root
    mode: 0644
  become: true
  notify: restart jenkins

- name: create jenkins service configuration directory
  ansible.builtin.file:
    path: /srv/jenkins
    state: directory
    mode: 0755
  become: true

- name: copy docker-compose.yml to jenkins service configuration directory
  ansible.builtin.copy:
    dest: /srv/jenkins/docker-compose.yml
    src: "{{ role_path }}/files/docker-compose.yml"
    owner: root
    group: root
    mode: 0644
  become: true
  register: docker_compose_yml

- name: create environment file in jenkins service configuration directory (used by jenkins.service)
  ansible.builtin.template:
    src: environment.j2
    dest: /srv/jenkins/environment
    owner: root
    group: root
    mode: 0640
  become: true
  register: environment_file

- name: copy jenkins.service to systemd directory
  ansible.builtin.copy:
    dest: /etc/systemd/system/jenkins.service
    src: "{{ role_path }}/files/jenkins.service"
    owner: root
    group: root
    mode: 0644
  become: true
  register: jenkins_service_file

- name: copy nginx.conf to jenkins service configuration directory
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /srv/jenkins/nginx.conf
    owner: root
    group: root
    mode: 0644
  become: true
  register: nginx_conf

- name: create certs directory in jenkins service configuration directory
  ansible.builtin.file:
    path: /srv/jenkins/certs
    state: directory
    mode: 0755
  become: true

- name: copy chained.crt to certs directory
  ansible.builtin.copy:
    dest: "/srv/jenkins/certs/{{ certificate_file }}"
    src: "{{ role_path }}/files/{{ certificate_file }}"
    owner: root
    group: root
    mode: 0644
  become: true
  register: certificate_file

- name: copy key.pem to certs directory
  ansible.builtin.copy:
    dest: "/srv/jenkins/certs/{{ certificate_key_file }}"
    src: "{{ role_path }}/files/{{ certificate_key_file }}"
    owner: root
    group: root
    mode: 0644
  become: true
  register: certificate_key_file

- name: enable jenkins
  ansible.builtin.systemd:
    name: jenkins
    enabled: true
    daemon_reload: yes
  when: jenkins_service_file.changed
  become: true

- name: restart jenkins
  ansible.builtin.systemd:
    name: jenkins
    state: restarted
    daemon_reload: yes
  when: docker_compose_yml.changed or environment_file.changed or jenkins_service_file.changed or nginx_conf.changed or certificate_file.changed or certificate_key_file.changed
  become: true
  register: jenkins_restart

- name: wait for jenkins to be up
  ansible.builtin.uri:
    url: "{{ url }}"
    status_code: 200
    user: "{{ admin_user }}"
    password: "{{ admin_password }}"
    validate_certs: "{{ validate_certs }}"
  register: result
  until: result.status == 200
  retries: 60
  delay: 1
  when: jenkins_restart.changed

- name: install pipeline plugin
  community.general.jenkins_plugin:
    name: workflow-aggregator
    with_dependencies: yes
    jenkins_home: /var/jenkins_home
    url: "{{ url }}"
    url_username: "{{ admin_user }}"
    url_password: "{{ admin_password }}"
    validate_certs: "{{ validate_certs }}"
    force_basic_auth: yes
    owner: "{{ username }}"
    group: "{{ username }}"
  become: true
  notify: restart jenkins again

- name: install role-strategy plugin
  community.general.jenkins_plugin:
    name: role-strategy
    with_dependencies: yes
    jenkins_home: /var/jenkins_home
    url: "{{ url }}"
    url_username: "{{ admin_user }}"
    url_password: "{{ admin_password }}"
    validate_certs: "{{ validate_certs }}"
    force_basic_auth: yes
    owner: "{{ username }}"
    group: "{{ username }}"
  become: true
  notify: restart jenkins again

- name: install ssh-slaves plugin
  community.general.jenkins_plugin:
    name: ssh-slaves
    with_dependencies: yes
    jenkins_home: /var/jenkins_home
    url: "{{ url }}"
    url_username: "{{ admin_user }}"
    url_password: "{{ admin_password }}"
    validate_certs: "{{ validate_certs }}"
    force_basic_auth: yes
    owner: "{{ username }}"
    group: "{{ username }}"
  become: true
  notify: restart jenkins again

- name: install blueocean plugin
  community.general.jenkins_plugin:
    name: blueocean
    with_dependencies: yes
    jenkins_home: /var/jenkins_home
    url: "{{ url }}"
    url_username: "{{ admin_user }}"
    url_password: "{{ admin_password }}"
    validate_certs: "{{ validate_certs }}"
    force_basic_auth: yes
    owner: "{{ username }}"
    group: "{{ username }}"
  become: true
  notify: restart jenkins again

- name: install job-dsl plugin
  community.general.jenkins_plugin:
    name: job-dsl
    with_dependencies: yes
    jenkins_home: /var/jenkins_home
    url: "{{ url }}"
    url_username: "{{ admin_user }}"
    url_password: "{{ admin_password }}"
    validate_certs: "{{ validate_certs }}"
    force_basic_auth: yes
    owner: "{{ username }}"
    group: "{{ username }}"
  become: true
  notify: restart jenkins again
