---
- include_tasks: linux.yml
  when:
    - ansible_facts["system"] == "Linux"
    - undo == false

- include_tasks: undo-linux.yml
  when:
    - ansible_facts["system"] == "Linux"
    - undo == true
