---
- name: install certbot
  ansible.builtin.dnf:
    name: certbot
    state: present
  become: true

- name: disable and stop certbot-renew.service
  ansible.builtin.systemd:
    name: certbot-renew.service
    state: stopped
    enabled: false
  become: true

- name: install cronie
  ansible.builtin.dnf:
    name: cronie
    state: present
  become: true

- name: install tar
  ansible.builtin.dnf:
    name: tar
    state: present
  become: true

- name: crontab set shell
  ansible.builtin.cron:
    name: SHELL
    env: yes
    value: /bin/sh
  become: true

- name: crontab set path
  ansible.builtin.cron:
    name: PATH
    env: yes
    value: /etc:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin
    insertafter: SHELL
  become: true

- name: create directory /etc/letsencrypt/renewal-hooks/deploy/
  ansible.builtin.file:
    path: /etc/letsencrypt/renewal-hooks/deploy/
    state: directory
    mode: 0755
    owner: root
    group: wheel
  become: true

# Sources:
# https://www.guyrutenberg.com/2017/01/01/lets-encrypt-reload-nginx-after-renewing-certificates/
# https://certbot.eff.org/docs/using.html#renewing-certificates
- name: configure certbot renewal hook to reload nginx
  ansible.builtin.copy:
    src: files/01-reload-nginx-rhel
    dest: /etc/letsencrypt/renewal-hooks/deploy/01-reload-nginx
    owner: root
    group: wheel
    mode: 0755
  become: true
  when:
    - nginx == true
