---
- name: Install Prometheus
  community.general.zypper:
    name: golang-github-prometheus-prometheus
    state: present
  become: true

- name: Enable and start prometheus.service
  ansible.builtin.systemd:
    name: prometheus.service
    enabled: yes
    state: started
  become: true
