---
# https://docs.fedoraproject.org/en-US/epel/#_el8
- name: enable powertools
  command: dnf config-manager --set-enabled powertools
  become: true

- name: install epel-release
  ansible.builtin.dnf:
    name: epel-release
    state: present
  become: true

- name: install epel-next-release
  ansible.builtin.dnf:
    name: epel-next-release
    state: present
  become: true

- name: setup epel
  command: dnf update -y
  become: true
