---
- include_tasks: centos-stream-8.yml
  when:
    - ansible_facts["distribution"] == "CentOS Stream"
    - ansible_facts["distribution_major_version"] == "8"
    - ansible_facts["os_family"] == "RedHat"

- include_tasks: redhat-9.yml
  when:
    - ansible_facts["distribution"] == "Rocky" or ansible_facts["distribution"] == "AlmaLinux" or ansible_facts["distribution"] == "OracleLinux"
    - ansible_facts["distribution_major_version"] == "9" or ansible_facts["distribution_major_version"] == "10"
    - ansible_facts["os_family"] == "RedHat"

- include_tasks: rocky-8.yml
  when:
    - ansible_facts["distribution"] == "Rocky" or ansible_facts["distribution"] == "AlmaLinux" or ansible_facts["distribution"] == "OracleLinux"
    - ansible_facts["distribution_major_version"] == "8"
    - ansible_facts["os_family"] == "RedHat"
