---
- include_tasks: centos-stream-8.yml
  when:
    - ansible_distribution == "CentOS Stream"
    - ansible_distribution_major_version == "8"
    - ansible_os_family == "RedHat"

- include_tasks: redhat-9.yml
  when:
    - ansible_distribution == "Rocky" or ansible_distribution == "AlmaLinux" or ansible_distribution == "OracleLinux"
    - ansible_distribution_major_version == "9" or ansible_distribution_major_version == "10"
    - ansible_os_family == "RedHat"

- include_tasks: rocky-8.yml
  when:
    - ansible_distribution == "Rocky" or ansible_distribution == "AlmaLinux" or ansible_distribution == "OracleLinux"
    - ansible_distribution_major_version == "8"
    - ansible_os_family == "RedHat"
