---
# https://docs.fedoraproject.org/en-US/epel/#_el9
- name: enable crb
  command: dnf config-manager --set-enabled crb
  when:
    - ansible_facts["distribution"] == "Rocky" or ansible_facts["distribution"] == "AlmaLinux"
  become: true

- name: enable ol9_developer_EPEL
  command: dnf config-manager --set-enabled ol9_developer_EPEL
  when:
    - ansible_facts["distribution"] == "OracleLinux"
  become: true

- name: install epel-release
  ansible.builtin.dnf:
    name: epel-release
    state: present
  become: true

- name: setup epel
  command: dnf update -y
  become: true
