---
- name: install sudo
  ansible.builtin.apt:
    name: sudo
    state: present
  become: true

- name: copy custom sudoers
  ansible.builtin.copy:
    src: debian
    dest: /etc/sudoers.d/custom
    owner: root
    group: root
    mode: 0640
  become: true
