---
- include_tasks: debian.yml
  when:
    - ansible_facts["os_family"] == "Debian"

- include_tasks: rhel.yml
  when:
    - ansible_facts["distribution_major_version"] == "8" or ansible_facts["distribution_major_version"] == "9" or ansible_facts["distribution_major_version"] == "10" or ansible_facts["distribution_major_version"] == "36" or ansible_facts["distribution_major_version"] == "43"
    - ansible_facts["os_family"] == "RedHat"

- include_tasks: suse.yml
  when:
    - ansible_facts["distribution_major_version"] == "15"
    - ansible_facts["os_family"] == "Suse"
