---
- name: install sudo
  ansible.builtin.dnf:
    name: sudo
    state: present
  when:
    - ansible_facts["distribution"] == "OracleLinux"
  become: true

- name: copy custom sudoers
  ansible.builtin.copy:
    src: rhel
    dest: /etc/sudoers.d/custom
    owner: root
    group: root
    mode: 0640
  become: true
