---
- name: update customized JAVA_HOME in user profile
  ansible.builtin.blockinfile:
    path: "/usr/home/{{ username }}/.profile"
    state: absent
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: |
      if [ -d /usr/local/openjdk8 ]; then
          JAVA_HOME="/usr/local/openjdk8"
      fi
  become: true

- name: remove jenkins ssh user
  ansible.builtin.user:
    name: "{{ username }}"
    state: absent
    force: yes
  become: true

- name: remove group jenkins
  ansible.builtin.group:
    name: "{{ username }}"
    state: absent
  become: true

- name: remove jenkins ssh authorized keys
  ansible.builtin.file:
    name: "/etc/ssh/authorized_keys/{{ username }}"
    state: absent
  become: true

- name: reconfigure sshd_config to remove path to authorizedkeys directive
  ansible.builtin.blockinfile:
    path: "/etc/ssh/sshd_config"
    state: absent
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: |
      AuthorizedKeysFile /etc/ssh/authorized_keys/%u .ssh/authorized_keys /home/%u/.ssh/authorized_keys
  become: true
  notify: restart sshd freebsd
