---
- name: install python3.7
  community.general.pkgng:
    name: python37
    state: present
  become: true

- name: install pip
  ansible.builtin.shell: python3.7 -m ensurepip
  become: true

- name: install pipenv
  ansible.builtin.pip:
    name: pipenv
    executable: "/usr/local/bin/pip3.7"
    state: present
  become: true
