---
- include_tasks: ubuntu.yml
  when:
    - ansible_facts["distribution"] == "Ubuntu"
    - ansible_facts["distribution_version"] == "18.04" or ansible_facts["distribution_version"] == "20.04"
    - undo == false

- include_tasks: ubuntu-extras.yml
  when:
    - ansible_facts["distribution"] == "Ubuntu"
    - ansible_facts["distribution_version"] == "18.04" or ansible_facts["distribution_version"] == "20.04"
    - undo == false
    - install_extras == true

- include_tasks: freebsd.yml
  when:
    - ansible_facts["system"] == "FreeBSD"
    - undo == false

- include_tasks: freebsd-extras.yml
  when:
    - ansible_facts["system"] == "FreeBSD"
    - undo == false
    - install_extras == true

- include_tasks: undo-ubuntu.yml
  when:
    - ansible_facts["distribution"] == "Ubuntu"
    - ansible_facts["distribution_version"] == "18.04" or ansible_facts["distribution_version"] == "20.04"
    - undo == true

- include_tasks: freebsd-undo.yml
  when:
    - ansible_facts["system"] == "FreeBSD"
    - undo == true
