---
- name: install pipenv
  ansible.builtin.pip:
    name: pipenv
    executable: "/usr/bin/pip3"
    state: present
  become: true

- name: install make
  ansible.builtin.apt:
    name: make
    state: present
  become: true
