---
- name: create jenkins ssh user's group
  ansible.builtin.group:
    name: "{{ username }}"
    state: present
  become: true

- name: create jenkins ssh user
  ansible.builtin.user:
    name: "{{ username }}"
    groups: "{{ username }}"
    password: "{{ password }}"
    shell: /bin/bash
    append: yes
    update_password: "on_create"
    state: present
  become: true

- name: add jenkins ssh user to docker group
  ansible.builtin.user:
    name: "{{ username }}"
    groups: docker
    append: yes
  become: true
  when: docker_installed == true

- name: set SDKMAN_DIR environment variable system-wide
  ansible.builtin.lineinfile:
    path: /etc/environment
    state: present
    line: SDKMAN_DIR=/usr/local/sdkman
    regexp: "^SDKMAN_DIR=/usr/local/sdkman"
  become: true

- name: download sdkman installer
  ansible.builtin.get_url:
    url: https://get.sdkman.io
    dest: /usr/local/bin/sdkman-installer.sh
    mode: 0755
  become: true

- name: install unzip
  ansible.builtin.apt:
    name: unzip
    state: present
  become: true

- name: install zip
  ansible.builtin.apt:
    name: zip
    state: present
  become: true

- name: install curl
  ansible.builtin.apt:
    name: curl
    state: present
  become: true

- name: install sdkman
  ansible.builtin.shell: /usr/local/bin/sdkman-installer.sh
  args:
    executable: /bin/bash
    creates: /usr/local/sdkman/bin/sdkman-init.sh
  environment:
    SDKMAN_DIR: /usr/local/sdkman
  become: true

- name: install java
  ansible.builtin.shell: . /usr/local/sdkman/bin/sdkman-init.sh && sdk install java "{{ java_version }}"
  args:
    executable: /bin/bash
    creates: /usr/local/sdkman/candidates/java/
  environment:
    SDKMAN_DIR: /usr/local/sdkman
  become: true

# These are the places where Jenkins 2.150.3 expects to find Java
# - /home/jenkins/jdk/bin/java
# - /usr/bin/java
# - /usr/java/default/bin/java
# - /usr/java/latest/bin/java
# - /usr/local/bin/java
# - /usr/local/java/bin/java
- name: create symlink /home/jenkins/jdk to the sdkman java install
  ansible.builtin.file:
    path: "/home/{{ username }}/jdk"
    src: /usr/local/sdkman/candidates/java/current/
    state: link
    owner: "{{ username }}"
    group: "{{ username }}"
  become: true

- name: set JAVA_HOME environment variable system-wide
  ansible.builtin.lineinfile:
    path: /etc/environment
    state: present
    line: "JAVA_HOME=/usr/local/sdkman/candidates/java/current"
    regexp: "JAVA_HOME=/usr/local/sdkman/candidates/java/current"
  become: true

- name: setup ssh public key
  ansible.posix.authorized_key:
    user: "{{ username }}"
    state: present
    key: "{{ lookup('file', '{{ role_path }}/files/key.pub') }}"
    path: "/etc/ssh/authorized_keys/{{ username }}"
    manage_dir: false
  become: true

- name: reconfigure sshd_config to add path to authorizedkeys directive
  ansible.builtin.blockinfile:
    path: "/etc/ssh/sshd_config"
    state: present
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: |
      AuthorizedKeysFile /etc/ssh/authorized_keys/%u .ssh/authorized_keys /home/%u/.ssh/authorized_keys
  become: true
  notify: restart sshd ubuntu

- name: update customized PATH and JAVA_HOME in user profile
  ansible.builtin.blockinfile:
    path: "/home/{{ username }}/.profile"
    state: present
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    block: |
      if [ -d /usr/local/sdkman/candidates/java/current ]; then
          PATH="/usr/local/sdkman/candidates/java/current/bin:$PATH"
          JAVA_HOME="/usr/local/sdkman/candidates/java/current"
      fi
  become: true
