---
- name: restart jenkins
  ansible.builtin.systemd:
      name: jenkins
      state: restarted
      daemon_reload: yes
  notify:
    - wait for jenkins to be up again
  become: true

- name: wait for jenkins to be up again
  ansible.builtin.uri:
      url: "{{ url }}"
      status_code: 200
      user: "{{ admin_user }}"
      password: "{{ admin_password }}"
      validate_certs: "{{ validate_certs }}"
  register: result
  until: result.status == 200
  retries: 60
  delay: 1
