---
- name: add mongodb apt key
  ansible.builtin.apt_key:
    keyserver: keyserver.ubuntu.com
    id: "{{ mongodb_apt_key_id }}"
    state: present
  register: add_mongodb_apt_key
  become: true

- name: add mongodb repo
  ansible.builtin.apt_repository:
    repo: "deb [ arch=amd64,arm64 ] http://repo.mongodb.org/apt/ubuntu xenial/mongodb-org/3.4 multiverse"
    filename: 099-mongodb-org-server
    state: present
  register: add_mongodb_repo
  become: true

- name: add unifi apt key
  ansible.builtin.apt_key:
    keyserver: keyserver.ubuntu.com
    id: "{{ unifi_apt_key_id }}"
    state: present
  register: add_unifi_apt_key
  become: true

- name: update repositories cache
  ansible.builtin.apt:
    update_cache: yes
  become: true
  when: add_mongodb_apt_key.changed or add_mongodb_repo.changed or add_unifi_apt_key.changed

- name: install mongodb-org
  ansible.builtin.apt:
    name: mongodb-org
    state: present
  become: true

- name: get unifi installer
  ansible.builtin.get_url:
    url: "https://dl.ubnt.com/unifi/{{ unifi_version }}/unifi_sysvinit_all.deb"
    dest: /tmp/unifi_sysvinit_all.deb

- name: install unifi
  ansible.builtin.apt:
    # name: unifi
    deb: /tmp/unifi_sysvinit_all.deb
    state: present
  become: true

- name: reduce java xms in properties on raspberry pi 3
  ansible.builtin.lineinfile:
    path: /var/lib/unifi/system.properties
    state: present
    line: "unifi.xms=64"
    regexp: "unifi.xms=64"
  become: true
  when:
    - ansible_facts["architecture"] == "aarch64"

- name: reduce java xmx in properties on raspberry pi 3
  ansible.builtin.lineinfile:
    path: /var/lib/unifi/system.properties
    state: present
    line: "unifi.xmx=64"
    regexp: "unifi.xmx=64"
  become: true
  when:
    - ansible_facts["architecture"] == "aarch64"

- name: reduce java max heap size in init script on raspberry pi 3
  ansible.builtin.replace:
    path: /usr/lib/unifi/bin/unifi.init
    regexp: "JVM_MAX_HEAP_SIZE=1024M"
    replace: "JVM_MAX_HEAP_SIZE=64M"
  become: true
  when:
    - ansible_facts["architecture"] == "aarch64"

- name: enable unifi service
  ansible.builtin.systemd:
    name: unifi
    enabled: yes
  become: true

- name: stop mongodb service
  ansible.builtin.systemd:
    name: mongod
    state: stopped
  become: true

- name: disable mongodb service
  ansible.builtin.systemd:
    name: mongod
    enabled: false
  become: true
  notify:
    - restart ubuntu
    - wait for ubuntu to restart
