---
- name: "push {{ domain_name }} contents"
  ansible.posix.synchronize:
    src: "{{ contents_path }}"
    dest: "/var/www/{{ domain_name }}/"
    mode: push
    recursive: yes
    perms: false
    use_ssh_args: yes
  become: true

- name: "fix perms on {{ domain_name }} contents dir"
  ansible.builtin.file:
    path: "/var/www/{{ domain_name }}"
    state: directory
    mode: 0755
    owner: www
    group: www
    recurse: yes
  become: true
